/***.responsive-img{
  max-height:300px;
}
***/

/***.galery-1 .responsive-img{
  height: 170px;
}

.galery-2 .responsive-img{
  height: 700px;
}***/

/** Ajuste de altura **/
.galery-3 .responsive-img{
  height: 335px;
}
